{{#each erros}}
    <div class="alert alert-danger">{{texto}}</div>
{{else}}

{{/each}}
<div class="card">
    <div class="card-body">
        <h4>Editar postagem</h4>
        <form action="/admin/postagens/edit" method="POST">
            <input type="hidden" value="{{postagens._id}}" name="id">
            <label for="titulo">Titulo: </label>
            <input type="text" name="titulo" id="titulo" class="form-control" value="{{postagens.titulo}}" required>
            <label for="titulo">Slug</label>
            <input type="text" name="slug" id="slug" class="form-control" required value="{{postagens.slug}}">
            <label for="titulo">Descrição</label>
            <input type="text" name="descricao" id="descricao" class="form-control" required value="{{postagens.descricao}}">
            <label for="conteudo">Conteudo</label>
            <textarea class="form-control" name="conteudo" id="conteudo" cols="30" rows="10" required >{{postagens.conteudo}}</textarea>
            <label for="categoria">Categoria: </label>
            <select name="categoria" id="categoria" class="form-control">
                {{#each categorias}}
                    <option value="{{id}}">{{nome}}</option>
                {{else}}
                    <option value="0">Nenhuma categoria registrada</option>
                {{/each}}
            </select>
            <button class="btn btn-success btn-lg btn-block mt-2" type="submit" >Editar postagem </button>
        </form>
    </div>
</div>