<div class="card">
    <div class="car-body">
        <h1>{{postagens.titulo}}</h1>
        <h3>{{postagens.descricao}}</h3>
        <small>Data: {{postagens.data}}</small>
        <hr>
        <p>{{postagens.conteudo}}</p>
        <hr>
        <small>Categoria: {{categorias.nome}}</small>
    </div>
</div>
