<div class="jumbotron">
  <h1 class="display-4">Bem-vindo ao blog do NODE</h1>
  <p class="lead">Blog simples, desenvolvido com node.js + express + MongoDB.</p>
  <hr class="my-4">
  <p>Veja aqui novidades do mundo da tecnologia!</p>
  <a class="btn btn-primary btn-lg" href="/usuario/registro" role="button">Crie uma conta</a>
</div>
<hr>
<h2>Postagens recentes</h2>

{{#each postagens}}

<div class="card mt-2">
    <div class="card-body">
        <h2>{{titulo}}</h2>
        <h3>{{descricao}}</h3>
        <a href="/postagem/{{slug}}"><button class="btn btn-primary">Ler mais</button></a>
        <hr>
        <small>Categoria: {{categoria.nome}}</small><br>
        <small>Data: {{data}}</small>

    </div>
</div>
{{else}}
<h2>Não há nenhuma postagem ainda</h2>

{{/each}}